# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.ipynb_checkpoints
*.log

# Virtual Environment
venv/
env/
*.env
*.venv

# Jupyter Notebook
.ipynb_checkpoints
*.checkpoint

# Editor Configurations
.idea/
.vscode/
*.swp

# Output
/build/
/dist/
*.log
*.out